<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
</head>
<body>

    <div th:class="wrap-container">
        <h1>Tervetuloa Linkkitietokantaan</h1>
        <div th:class="container">
            <a th:class="btn" th:href = "@{/list}">Näytä linkit</a>
            <a th:class="btn" th:href="@{/addLink}">Lisää linkki</a>
        </div>
    </div>

</body>
</html>